<div class="row">
  <div class="">
  <% @books.each do |book| %>
      <div class="col-sm-6 col-md-3">
        <div class="">
          <%=link_to  book.name,book_path(book)  %> <br>
        </div>
      </div>
        </div>
  <% end %>
</div>
